@import "tailwindcss";

:root {
  --bg: #F7F5F0;
  --surface: #FFFFFF;
  --text: #1C1917;
  --muted: #57534E;
  --border: #E7E5E1;

  --primary: #0D9488;
  --primary-light: #CCFBF1;

  --shadow: 0 4px 20px rgba(0,0,0,0.04);
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Plus Jakarta Sans", sans-serif;
}